body {
    min-height: 100vh;
    width: 100%;
    min-width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(30, 54%, 90%);
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    padding: 3rem;
    background-color: hsl(0, 0%, 100%);
    color: hsl(24, 5%, 18%);
    width: 35%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.illustration {
    width: 100%;
    border-radius: 12px;
}

.title {
    font-family: "Young Serif", serif;
    font-weight: 700;
    margin-bottom: 0.625rem;
}

.description, .nutrition-description {
    margin: 0.625rem 0;
    font-size: 16px;
    color: hsl(24, 5%, 18%);
}

/* Preparation box */
.prep-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.625rem 0;
    background-color: hsl(330, 100%, 98%);
    border-radius: 16px;
}

.prep-heading {
    font-weight: 600;
    color: hsl(332, 51%, 32%);
    padding-left: 25px;
    margin-bottom: 5px;
}

.prep-list li::marker {
    color: hsl(332, 51%, 32%);
}

.prep-list li {
    padding-left: 1.5rem;
    margin-bottom: 0.7rem;
}

/* Ingredients & Instructions */
.ingredients-heading, .instructions-heading, .nutrition-heading {
    font-family: "Young Serif", serif;
    font-weight: 400;
    color: hsl(14, 45%, 36%);
    margin-bottom: 0.25rem;
}

.ingredients-list li::marker,
.instructions-list li::marker {
    color: hsl(14, 45%, 36%);
}

.ingredients-list li,
.instructions-list li {
    padding-left: 1.5rem;
    margin-bottom: 0.7rem;
}

.ingredients-list,
.instructions-list {
    color: hsl(24, 5%, 18%);
    margin-top: 0.625rem;
}

/* Dividers */
hr {
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 1.5rem 0;
}

/* Nutrition table */
table {
    width: 100%;
    border-collapse: collapse;
}

td {
    color: hsl(24, 5%, 18%);
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #e0e0e0;
}

td:last-child {
    color: hsl(14, 45%, 36%);
}
